<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">

</head>
<body>
    {{>header}}
    <p>This site was created by Mahesh Prabhu. It uses data from mapbox.com and darksky.net and helps you show weather details.</p>
    <img src="/img/img1.jpg" class="rotateimg180" ,align="left">
    <h5>{{name}}</h5>

    {{>footer}}

</body>
</html>